body {
    margin-top: 30px;
    margin-bottom: 50px;
    margin-right: 120px;
    margin-left: 120px;
}

.nav{
  margin-bottom: 30px;
}

.jumbatron{
  background-image: url(images/chinese_flag.png);
  background-repeat: no-repeat;
  background-size: cover;
  background:;
}

.jumbatron h1{
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: 'Arial Black', cursive;
  font-size: 64px;
  color: #800000;
}

.jumbatron p{
  margin-bottom: 30px;
  font-size: 20px;
  }
