body{
  background-color: #F6E8EA;
}

.nav-item{
  color: #264653;
}

a.nav-link:hover{
  color: #264653;
  font-weight: bold;
}

.intro{
  height: 100vh;
  background-image: url("../images/land.jpg");
  padding-top: 150px;
}

.jumbotron{
  background-color: transparent;
}

.centre{
  text-align: center;
}

.country_photo{
  height: 200px;
  width: 200px;
  overflow: hidden;
  text-align: center;
}

.hometitle{
  font-size: 5rem;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 87.5%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.chinese{
  background-color: #92140C;
}

.korean{
  background-color: #264653;
}

.polish{
  background-color: #F6D8AE;
}

.spanish{
  background-color: #FFA630;
}

.country_photo:hover .overlay {
  opacity: 0.95;
}

.texthover {
  color: black;
  font-size: 35px;
  line-height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-variant: small-caps;
}

.social-buttons{
  margin-bottom: 25px;
  background-color: #F6E8EA;
}

#facebook{
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 25px;
}
