
/* ------ Header Section ------- */
.jumbotron {
    background-color: transparent;
}

.nav-item{
  color: #264653;
}

.navbar{
  width: 100%;
  position: fixed;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 999;
  background-image: url("../images/land.jpg");
}


a.nav-link:hover{
  color: #264653;
  font-weight: bold;
}

.container_head, .intro {
  height: 100vh;
  width: 100vw;
}

.container_head {
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro{
  background-image: url("../images/land.jpg");
  background-size: cover;
}

.hometitle {
  font-size: 6rem;
  font-family: 'Permanent Marker', cursive;
  color: #264653;
}

.hometitle p {
  font-size: 1.9rem;
}

.centre{
  text-align: center;
}

.jumbotron_head {
  position: relative;
  top: -60px;
  margin: 0 150px;
}

p.lead {
  margin-top: 20px;
  font-size: 1.5rem;
}

p.lead .btn {
  margin-top: 30px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #287391;
  border: none;
  padding: 20px;
}

p.lead .btn:hover {
  background-color: #264653;
}

/* ------- Our Promise ---------- */

.our_promise {
  width: 100%;
  height: 40em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F6D8AE;
}

.container_promise{
  width: 92.5%;
  height: 32em;
  padding: 10px;
  border: 10px solid #FFA630;
}

h3#Promise {
  font-size: 4rem;
  margin-top: 60px;
  margin-bottom: 40px;
  font-family: 'Permanent Marker', fantasy;
  letter-spacing: 1px;
  color: #FFA630;
}

.container_promise p {
  font-size: 1.5rem;
  margin-bottom: 40px;
}

.flagimg {
  width: 200px;
  height: 200px;
  position: relative;
  top: -30px;
  margin-right: 10px;
}

.arrow {
  width: 30px;
  height: 30px;
  border-top: 6px solid #FFA630;
  border-left: 6px solid #FFA630;
  transform: rotate(225deg);
  margin: 0 auto 20px auto;
}

/* ------- Select a language ------------*/

.selectlanguage {
  width: 100%;
  height: 35rem;
  background-color: #B7C9DB;
}

#selectlanguage {
  padding-top: 70px;
  margin-bottom: 50px;
}
#selectlanguage h3 {
  font-size: 4rem;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: 'Permanent Marker', fantasy;
  color: #264653;
}

.row {
  margin: 0;
}

/* Photos*/
.country_photo{
  height: 200px;
  width: 200px;
  overflow: hidden;
  text-align: center;
  font-size: 2rem;
  font-family:'Permanent Marker', fantasy;
  color: #264653;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 300px;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}


.chinese{
  background-color: #92140C;
}

.korean{
  background-color: #264653;
}

.polish{
  background-color: #F6D8AE;
}

.spanish{
  background-color: #FFA630;
}

.country_photo:hover .overlay {
  opacity: 0;
}


.texthover {
  color: black;
  font-size: 35px;
  font-weight: bold;
  line-height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-variant: small-caps;
  text-transform: uppercase;
  opacity: 1;
}

/* ------ Quiz ----- */
.quiz-jumbotron{
  background-color: #F6D8AE;
  width: 100%;
  height: 35rem;
  display: flex;
  flex-direction: column
  padding: 30px;
}

.quizContainer{
  width: 92.5%;
  height: 29rem;
  padding: 10px;
  border: 10px solid #264653;
  margin-top: 50px;
  margin-bottom: 30px;
}

.quizContainer h1 {
  font-family: 'Permanent Marker', fantasy;
  font-size: 4rem;
  color: #264653;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.quizContainer h2 {
  font-family: 'Permanent Marker', fantasy;
  font-size: 2rem;
  color: #264653;
  text-align: center;
}


p.lead .quizbutton {
  margin-top: -20px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #287391;
  border: none;
  padding: 25px 70px;
}

p.lead .quizbutton:hover {
  background-color: #264653;
}


/* ------ Meet the Team ------ */

.team_block {
  background-color: #FFE4E1;
  height: 40em;
}

.flex_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 38em;
}

.meettheteam {
  font-size: 4rem;
  font-family: 'Permanent Marker', fantasy;
  color: #9f0000;
  margin-bottom: 60px;
  margin-top: -30px;
}

.bios {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 0 10px;
}

.team_container {
  width: 240px;
  height: 300px;
  margin-bottom: 45px;
  background-color: steelblue;
  display: inline-block;
  position: relative;
}


p.info {
  position: absolute;
  top: 110%;
  text-align: center;
}

.info strong {
  display: block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: left;
  position: relative;
  top: -28px;
}

.alice{
  background-image: url("../images/alice.jpg");
  background-size: cover;
}

.alice::after {
  content: "";
  width: 110%;
  height: 2%;
  position: absolute;
  bottom: -14%;
  right: -7%;
  background-color: #92140C;
}

.rochelle {
  background-image: url("../images/rochelle.jpg");
  background-size: cover;
}


.rochelle::after {
  content: "";
  width: 110%;
  height: 2%;
  position: absolute;
  bottom: -14%;
  right: -7%;
  background-color: #264653;
}

.safiya{
  background-image: url("../images/safiya.jpg");
  background-size: cover;
}


.safiya::after {
  content: "";
  width: 110%;
  height: 2%;
  position: absolute;
  bottom: -14%;
  right: -7%;
  background-color: #FFA630;
}

.karolina{
  background-image: url("../images/karolina.jpg");
  background-size: cover;
}

.karolina::after {
  content: "";
  width: 110%;
  height: 2%;
  position: absolute;
  bottom: -14%;
  right: -7%;
  background-color: #F6D8AE;
}


/* ------ Footer with Social ----- */
.footer{
  background-color: #F6D8AE;
  margin: 0 0;
}

#getintouch {
  height: 40em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
}

.missed_something {
  padding: 0 20px;
}

.missed_something h2 {
  font-size: 3.5rem;
  font-family:'Permanent Marker', fantasy;
  color: #FFA630;
}

.missed_something p{
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: bold;
}

.form_container {
  width: 400px;
  margin: 0 auto;
  padding-top: 90px;
  text-align: left;
}

.input_field, .submit {
  width: 100%;
}

.input_field {
  margin-bottom: 15px;
  padding: 10px 5px;
  border: 3px solid #FFA630;
}

.input_field:focus {
  outline: none;
}

.submit {
  background-color: #FFA630;
  text-transform: uppercase;
  color: white;
  border: none;
  font-weight: bold;
  padding: 15px 0;
  margin-bottom: 25px;
}

.submit:hover {
  cursor: pointer;
  background-color: #ffb454;
}

.social-buttons{
  margin: 35px auto;
  width: 250px;
}

#facebook{
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 25px;
}
