body{
  background-color: #F6D8AE;
  color: #264653;
}

.nav{
  margin-bottom: 70px;
  font-size: 1rem;

}

.nav-item{
  color: #F6D8AE;
  text-align: -webkit-match-parent;
}

.nav-link{
  display: block;
  padding: .5rem 1rem;
}

.size {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.5;
}

a.nav-link:hover {
  color: #F6D8AE;
  font-weight: bold;
}

.jumbatron{
  text-align: center;
  height: 15rem;
  margin-bottom: 0;
}

.jumbatron h1{
  margin-top: 30px;
  margin-bottom: 40px;
  font-family: 'Permanent Marker', cursive;
  font-size: 64px;
}

.flagimg {
  width: 200px;
  height: 200px;
  position: relative;
  top: -30px;
  margin-right: 10px;
}

/* Quiz */

ul {
  list-style: none;
}

#potential-answers{
  font-family: sans-serif;
  color: #264653;
}

li {
    font-family: sans-serif;
    color: #264653;
}

input[type=radio] {
    border: 0px;
    height: 20px;
    margin-top: 20px;
    margin-right: 7px;
}

/* Quiz Classes */
.main-quiz{
  height: 28rem;
  width: 60%;
  background-image: url("../images/land.jpg");  margin: 0 auto;
  position: relative;
  top: 100px;
  border: 3px solid #264653;
}

 .quizContainer {
    height: 37rem;
    width: 100%;
    position: relative;
    margin: 0 auto;
    padding: 0;
}

.question {
    font-family: sans-serif;
    font-size: 2rem;
    width: 90%;
    margin: 0 auto;
    height: auto;
    border-radius: 6px;
    margin-top: 5px;
    text-align: center;
}

.choiceList {
    font-family: sans-serif;
    color: #264653;
    position: relative;
    display: inline-block;
    font-size: 10px;
    margin-top: 20px;
}
.choiceList li {
  font-size: 1.5rem;
}
.nextButton {
    color: #287391;
    border: none;
    padding: 20px;
    margin: 10 auto;
    text-align: center;
}


.quizMessage {
    background-color: peachpuff;
    border-radius: 10px;
    width: 30%;
    margin: auto;
    text-align: center;
    padding: 2px;
    font-family: sans-serif;
    color: red;
}

.result {
    width: 30%;
    height: auto;
    border-radius: 6px;
    background-color: linen;
    margin: auto;
    text-align: center;
    font-family: sans-serif;
    font-size: 1.2rem;
}

/* End of Quiz Classes */


/* Social Buttons */

.social-buttons{
  margin-bottom: 0;
  position: relative;
  top: 180px;
}

#facebook{
  margin-left: 20px;
  margin-right: 20px;
}
